body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background-image: url('imagenes/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    overflow-x: hidden;  
}

.header {
    position: absolute;
    top: 5px; 
    left: 5px; 
    font-size: 12px;  
    color: #f0f6f8; 
}

.logo {
    width: 50px;  
    height: auto; 
}

.calculator {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 10px; 
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 500px;  
    max-width: 500px;  
    height: auto;
    margin-top: 32px;  
    margin-bottom: 10px; 
}

#multiplexorCanvas {
    margin-top: 40px;   
    width: 30%;       
    height: auto;  
    border: 1px solid #9797d3;  
    margin-left: 20px;
    max-height: 530px;      
    background-color: rgba(255, 255, 255, 0.9); 

}

h1 {
    font-size: 1.6rem; 
    margin-bottom: 10px;  
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(#6dd5ed, #3498db, #2ecc71); 
    -webkit-background-clip: text;
    color: transparent;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 70%;
}

label {
    display: block;
    color: #34495E;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px; 
    text-align: center;
}

input {
    width: 10%;
    padding: 5px; 
    border-radius: 6px;
    border: 1px solid #BDC3C7;
    font-size: 15px; 
    margin-bottom: 8px;  
    box-sizing: border-box;
    background-color: #f4f6f7; 
    text-align: left;
}

button {
    width: 80%;
    padding: 10px;  
    background-color: #3498db; 
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;  
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9; 
    
}


.results {
    display: none; 
    flex-direction: column;
    align-items: center; 
    background-color: #2ecc71; 
    color: white;
    border-radius: 12px;
    padding: 15px;  /* Reducido */
    width: 80%;  /* Ajustado */
    box-sizing: border-box;
    margin-top: 20px;  
    max-height: 300px; 
    overflow-y: auto;  
}

#results h2 {
    font-size: 1.6rem;  /* Reducido */
    font-weight: bold;
    margin-bottom: 10px;  /* Reducido */
    text-align: center; 
}

#results p {
    font-size: 14px;  /* Reducido */
    margin: 8px 0;
    font-weight: 500;
    text-align: center; 
}

footer {
    position:fixed;
    bottom: 10px;
    right: 10px;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    opacity: 0.6;
}

footer p {
    text-align: center;
    margin: 0;
    padding: 0; 
}

.info-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ccc;
    z-index: 1000;
}

.info-icon:hover {
    background-color: #f0f0f0;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.input-container label{
    margin-right: 20px; 
    margin-top: 4px;
}

.input-container input[type="number"] {
    display: inline-block; 
    margin: 0 auto; 
    padding: 10px;
    font-size: 14px;  
    width: 80%; 
}

.radio-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.radio-container label {
    margin-right: 10px;
    font-size: 14.5px;  /* Reducido */
}

.radio-container input[type="radio"] {
    margin-right: 5px;
}

.radio-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.radio-group label {
    margin-right: 10px;
    font-size: 16px;  /* Reducido */
}

.radio-group input[type="radio"] {
    margin-right: 5px;

}

#transmission-unit {
    margin-top: 10px;
    margin-left: 10px; /* Empuja el elemento hacia la derecha */
    position: absolute;

        background-color: #f0f0f0; /* Cambia el color de fondo */
        color: #130547; /* Cambia el color del texto */
        border: 1px solid #ccc; /* Bordes personalizados */
        border-radius: 5px; /* Bordes redondeados */
        padding: 1px; /* Espaciado interno */
        font-size: 12px; /* Tamaño de fuente */
}
#transmission-unit:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
    color: #000; /* Color del texto */
    cursor: pointer; /* Cambia el cursor a "puntero" */
}
